/* mapas y variables */

$blanco: #ffffff;

$paletaDeColores:(
    blanco: $blanco,
    bordo: #8f172fda,
    negrotrans: #0000007c,
);

/* Fin de mapas y variables */

/* mixins */

@mixin fondo ($height,){
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: auto;
    height: $height;
    background-size: 200%;
    animation: fondoanimado 90s infinite;
}

/* Fin de mixins */


/* Reiniciar margenes, bordes, ect*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html {
    height: 100vh;
    scroll-behavior: smooth;
}


/* barra de navegacion */

.logo {
    font-size: 30px !important;
    padding-left: 40px;
    color: $blanco;
    text-decoration-line: overline !important;
    text-decoration-color: rgb(0, 0, 0) !important;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    line-height: 80px;
    text-shadow: 0 1px rgb(0, 0, 0);
    width: max-content;

    span {
        color: map-get( $paletaDeColores , bordo );
    }
}


.nav-link {
    font-size: 16px;
    margin: 10px;
    color: map-get( $paletaDeColores , blanco );
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    z-index: 99;

    &:hover {
        color: map-get( $paletaDeColores , bordo );
        text-shadow: 1px 0px;
        text-decoration: overline;
        text-decoration-color: map-get( $paletaDeColores , blanco );
    }
}

/* Fin de barra de navegacion */


/* Estilo de pagina Home */
.bg-img {
    background-image: linear-gradient(135deg, rgba(0, 32, 36, 0.774) 20%, rgba(10, 173, 255, 0.733) 50%, rgba(0, 213, 255, 0.486) 100%), url(../Media/fondo.jpeg);
    @include fondo (auto);
}

@keyframes fondoanimado {
    0% {
        background-position: 30% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 30%;
    }

}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.capa {
    @extend video;
    background: url(../Media/pattern.png) repeat;
    opacity: 0.8;

}

.contenido {
    padding-top: 95px;
    height: auto !important;
}


.contenidoHome__titulo {
    background-color: map-get( $paletaDeColores , negrotrans );
    font-size: 40px;
    color: map-get( $paletaDeColores , blanco );
    position: relative;
    z-index: 2;
}

.contenidoHome__boton {
    margin-top: 30px;
    transition: all 300ms;
    position: relative;
    z-index: 2;
}


.botonHome__link {
    font-size: 25px;
    background-color: map-get( $paletaDeColores , negrotrans );
    position: relative;
    z-index: 2;

    a {
        text-decoration: none;
        color: map-get( $paletaDeColores , blanco );

        &:hover {
            color: rgb(0, 0, 0);
        }
    }

}


/* Fin de estilo de pagina Home */

/* Estilo pagina Sobre mi */
.perfil {
    width: 240px;
    height: 240px;
    border-radius: 50%;
}


/* Fin de Estilo pagina Sobre mi */

/* Estilo pagina de proyecto */
.banner-proyecto {
    background: linear-gradient(135deg, rgba(0, 32, 36, 0.774) 20%, rgba(10, 173, 255, 0.733) 50%, rgba(16, 178, 211, 0.486) 100%), url(../Media/fondoproyectos.jpg);
    @include fondo (auto);
}

.contenedorProyectos__titulo {
    padding-bottom: 15px;
    text-align: center;
}

.contenedorProyectos__parrafo {
    font-weight: bold;
    font-size: large;
    text-align: center;
    color: map-get( $paletaDeColores , blanco );
}

.contenedorProyectos {
    width: 600px;
    font-size: 13px;
    text-transform: uppercase;
    margin-top: 106px;
}

.contenedor-item {
    height: auto;
    width: auto;
}


.gallery {
    padding: 80px 0;
    width: 100% !important;
    img{
        background-color: #14141483;
        width: 100%;
        padding: 15px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.89);
        border-radius: 10px;
        cursor: pointer;
    }
}

#gallery-modal .modal-img {
    width: 100%;
}


/* Fin de estilo pagina de proyecto */

/* Estilo pagina de servicios */
#servicios {
    padding-top: 110px;
    height: auto;

    h3 {
        font-size: 30px;
    }
}

.tarjetas {
    height: 330px;
    min-width: 170px;
    width: auto;
}


.b-servicios {
    padding: 20px 0;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    width: 100%;
    height: 50vh;
}

.s-titulo {
    font-weight: bold;
    font-size: 20px !important;
}

/* Fin de estilo pagina de servicios */

/* Estilo de pagina sobre mi */
#sobremi {
    padding-top: 110px;
    height: 800px;
}

/* Estilo pagina de contacto*/

.banner-contacto {
    background: linear-gradient(135deg, rgba(0, 32, 36, 0.774) 20%, rgba(10, 173, 255, 0.733) 50%, rgba(16, 178, 211, 0.486) 100%), url(../Media/fondocontacto.jpg);
    @include fondo (auto);
}

.formulario {
    margin-top: 106px;
    min-height: calc(100vh - 95px - 200px);
}


.contenedor-form {
    background-color: rgba(255, 255, 255, 0.534);
    padding: 50px 10px;
    border-radius: 10px;
}

.container-fluid {
    padding: 0px;
}



form span {
    color: rgb(255, 0, 0);
}

/* Fin de estilo pagina de contacto*/


/* Estilo footer */
footer {
    min-height: 100px !important;

}

/* Fin de estilo footer */



/*------------------ RESPONSIVE ------------------*/

/* Estilo pagina  escritorio */

@media only screen and (max-width: 1366px) {

    /* Barra de navegacion */
    .logo {
        font-size: 26px;
        padding-left: 20px;
    }

    /* Fin de barra de navegacion */

        /* Contacto */
        .banner-contacto {
            background-size: 500%;
        }
    
        /* Fin de contacto */

}

/* fin de estilo pagina  escritorio */

/* Estilo pagina  tablet */

@media only screen and (max-width: 992px) {



    /* Barra de navegacion */

    .logo {
        font-size: 20px !important;
        padding: 0 0px !important;
        padding-top: 10px;

    }

    .navbar-toggler-icon {
        width: 1.4em;
        height: 1.4em;
        color: map-get( $paletaDeColores , blanco );
    }

    /* Fin de barra de navegacion */

    /* Home */
    .bg-img {
        background-size: 600%;
    }

    .contenidoHome__titulo {
        font-size: 27px;
    }

    .contenidoHome__link {
        font-size: 27px;
    }

    /* Fin de Home */

    /* Contacto */
    .banner-contacto {
        background-size: 600%;
    }

    /* Fin de contacto */

    /* Proyecto */
    .banner-proyecto {
        background-size: 600%;
    }

    .contenedorProyectos__titulo h2 {
        font-size: 18px;
    }

    .contenedorProyectos__parrafo p {
        font-size: 16px;
    }

    /* Sobre mi */
    .perfil {
        width: 200px;
        height: 200px;
    }

    /* Fin de sobre mi */

    /* Servicios */
    .fa-4x {
        font-size: 2.5em;
    }

    .lead {
        font-size: 18px !important;
    }


    #servicios {
        height: auto;
    }

    /* Fin de servicios */

}

/* fin de estilo pagina  tablet */

/* Estilo de pagina Mobile */

@media only screen and (max-width: 767px) {

    .row{
        &>*{
            padding: 0 !important;
        }
        padding: 0 !important;
    }

    /* Barra de navegacion */
    nav {
        --bs-bg-opacity: 1;
        background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    }

    .logo {
        font-size: 18px !important;
    }

    /* Fin de barra de navegacion */

    /* Home */
    .bg-img {
        background-size: 700%;
    }

    .contenidoHome__titulo {
        font-size: 18px;
    }

    .contenidoHome__link {
        font-size: 18px;
    }

    .contenedorProyectos__titulo h2 {
        font-size: 17px;
    }

    /* Fin de Home */
    /* Contacto */
    .banner-contacto {
        background-size: 800%;
    }

    /* Fin de contacto */

    /* Proyecto */
    .banner-proyecto {
        background-size: 800%;
    }

    /* Fin de Proyecto */

    /* Sobre mi */
    #sobremi {
        height: auto;
    }

    /* Fin de Sobre mi */

    .b-servicios {
        width: 102%;
    }
}

/* Fin de estilo de pagina Mobile */