/* variables */

$blanco: rgb(255, 255, 255);

/* Fin de variables */

/* Reiniciar margenes, bordes, ect*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html {
    height: 100vh;
    scroll-behavior: smooth;
}


/* barra de navegacion */

.logo {
    font-size: 30px !important;
    padding-left: 40px;
    color: $blanco;
    text-decoration-line: overline !important;
    text-decoration-color: rgb(0, 0, 0) !important;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    line-height: 80px;
    text-shadow: 0 1px rgb(0, 0, 0);
    width: max-content;

    span {
        color: rgba(143, 23, 47, 0.856);
    }
}


.nav-link {
    font-size: 16px;
    margin: 10px;
    color: $blanco;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    z-index: 99;

    :hover {
        color: rgba(143, 23, 47, 0.856);
        text-shadow: 1px 0px;
        text-decoration: overline;
        text-decoration-color: $blanco;
    }
}

/* Fin de barra de navegacion */


/* Estilo de pagina Home */
.bg-img {
    background-image: linear-gradient(135deg, rgba(0, 32, 36, 0.774) 20%, rgba(10, 173, 255, 0.733) 50%, rgba(0, 213, 255, 0.486) 100%), url(../Media/fondo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: auto;
    background-size: 200%;
    animation: fondoanimado 90s infinite;
}

@keyframes fondoanimado {
    0% {
        background-position: 30% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 30%;
    }

}

.contenido {
    padding-top: 95px;
    height: auto !important;
}


.contenidoHome__titulo {
    background-color: rgba(0, 0, 0, 0.486);
    font-size: 40px;
    color: $blanco;
}

.contenidoHome__boton {
    margin-top: 30px;
    transition: all 300ms;
}


.botonHome__link {
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.486);

    a {
        text-decoration: none;
        color: $blanco;
    }

    :hover {
        color: rgb(0, 0, 0);
    }
}


/* Fin de estilo de pagina Home */

/* Estilo pagina Sobre mi */
.perfil {
    width: 240px;
    height: 240px;
    border-radius: 50%;
}

.tarjetas {
    height: 300px;
}

/* Fin de Estilo pagina Sobre mi */

/* Estilo pagina de proyecto */
.banner-proyecto {
    background: linear-gradient(135deg, rgba(0, 32, 36, 0.774) 20%, rgba(10, 173, 255, 0.733) 50%, rgba(16, 178, 211, 0.486) 100%), url(../Media/fondoproyectos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: auto;
    height: auto;
    background-size: 200%;
    animation: fondoanimado 90s infinite;
}

.contenedorProyectos__titulo {
    padding-bottom: 15px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.322);
    border-radius: 10px;

}

.contenedorProyectos__parrafo {
    font-weight: bold;
    font-size: large;
    text-align: center;
    color: $blanco;
}

.contenedorProyectos {
    width: 600px;
    font-size: 13px;
    min-height: calc(100vh - 100px - 200px);
    text-transform: uppercase;
    margin-top: 106px;
}

.contenedor-item {
    height: auto;
    width: auto;
}

/* Fin de estilo pagina de proyecto */

/* Estilo pagina de servicios */
#servicios {
    padding-top: 110px;
    height: 800px;
    h3 {
        font-size: 40px;
    }
}

/* Fin de estilo pagina de servicios */

/* Estilo de pagina sobre mi */
#sobremi {
    padding-top: 110px;
    height: 800px;
}

/* Estilo pagina de contacto*/

.banner-contacto {
    background: linear-gradient(135deg, rgba(0, 32, 36, 0.774) 20%, rgba(10, 173, 255, 0.733) 50%, rgba(16, 178, 211, 0.486) 100%), url(../Media/fondocontacto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: auto;
    height: 1000px;
    background-size: 200%;
    animation: fondoanimado 90s infinite;
}

.formulario {
    margin-top: 106px;
    min-height: calc(100vh - 95px - 200px);
}


.contenedor-form {
    background-color: rgba(255, 255, 255, 0.534);
    padding: 50px 10px;
    border-radius: 10px;
}

.container-fluid {
    padding: 0px;
}



form span {
    color: rgb(255, 0, 0);
}

/* Fin de estilo pagina de contacto*/


/* Estilo footer */
footer {
    min-height: 100px !important;

}

/* Fin de estilo footer */



/*------------------ RESPONSIVE ------------------*/

/* Estilo pagina  escritorio */

@media only screen and (max-width: 1366px) {

    /* Barra de navegacion */
    .logo {
        font-size: 26px;
        padding-left: 20px;
    }
    /* Fin de barra de navegacion */
}
/* fin de estilo pagina  escritorio */

/* Estilo pagina  tablet */

@media only screen and (max-width: 992px) {

    /* Barra de navegacion */

    .logo {
        font-size: 20px !important;
        padding: 0 0px !important;
        padding-top: 10px;

    }

    .navbar-toggler-icon {
        width: 1.4em;
        height: 1.4em;
        color: $blanco;
    }

    /* Fin de barra de navegacion */

    /* Home */
    .bg-img {
        background-size: 600%;
    }
    
    .contenidoHome__titulo {
        font-size: 27px;
    }

    .contenidoHome__link {
        font-size: 27px;
    }
    /* Fin de Home */

    /* Contacto */
    .banner-contacto {
        background-size: 600%;
    }
    /* Fin de contacto */

    /* Proyecto */
    .banner-proyecto {
        background-size: 600%;
    }

    .contenedorProyectos__titulo h2 {
        font-size: 18px;
    }

    .contenedorProyectos__parrafo p {
        font-size: 16px;
    }
    /* Sobre mi */
    .perfil {
        width: 200px;
        height: 200px;
    }
    /* Fin de sobre mi */

    /* Servicios */
    .fa-4x {
        font-size: 2.5em;
    }

    .lead {
        font-size: 18px !important;
    }

    .display-6 {
        font-size: 31px !important;
    }

    #servicios {
        height: auto;
    }
    /* Fin de servicios */

}

/* fin de estilo pagina  tablet */

/* Estilo de pagina Mobile */

@media only screen and (max-width: 640px) {

    /* Barra de navegacion */
    nav {
        --bs-bg-opacity: 1;
        background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    }

    .logo {
        font-size: 18px !important;
    }
    /* Fin de barra de navegacion */

    /* Home */
    .bg-img {
        background-size: 700%;
    }
    .contenidoHome__titulo {
        font-size: 18px;
    }

    .contenidoHome__link {
        font-size: 18px;
    }

    .contenedorProyectos__titulo h2 {
        font-size: 17px;
    }
    /* Fin de Home */
    /* Contacto */
    .banner-contacto {
        background-size: 800%;
    }
    /* Fin de contacto */

    /* Proyecto */
    .banner-proyecto {
        background-size: 800%;
    }
    /* Fin de Proyecto */

    /* Sobre mi */
    #sobremi {
        height: auto;
    }
    /* Fin de Sobre mi */
}

/* Fin de estilo de pagina Mobile */